[submodule "test/Tests/sparql-1.1"]
	path = test/Tests/sparql-1.1
	url = ../sparql-1.1-test-cases.git
[submodule "web/yasqe"]
	path = web/yasqe
	url = https://github.com/YASGUI/YASQE.git
[submodule "web/yasr"]
	path = web/yasr
	url = https://github.com/YASGUI/YASR.git
[submodule "test/Tests/sparql"]
	path = test/Tests/sparql
	url = ../sparql-1.1-test-cases.git
