/* General ClioPatria page layout
*/

.cliopatria .content
{ margin-top: 10px;
}

.cliopatria a.logo
{ margin-right: 5px;
}

.cliopatria a.logo img
{ height: 24px;
}

.cliopatria a.logo img:hover
{ outline: 1px solid blue;
}

.cliopatria address.footer
{ margin-top: 1ex;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #A0A0A0;
  font-size: smaller;
  text-align: right;
}

.cliopatria address.footer img
{ padding-left: 5px;
  border: 0;
  height: 1.2em;
  vertical-align: top;
}

div.messages, div.textbox
{ border-width: 1px;
  border-style: dotted;
  border-color: #A0A0A0;
  padding: 5px;
  margin-top: 2ex;
  margin-left: 5%;
  width: 90%;
  overflow-x: auto;
}

div.messages pre
{ margin: 0px;
}

.msg_informational
{ color: #007f00;
}

.msg_warning
{ color: #ca0000;
}

.msg_error
{ color: #ca0000;
  font-weight: bold;
}

#smiley-thinking
{ float: left;
}

p.footnote
{ font-size: smaller;
}

option.change
{ color: red;
}

.cliopatria h1
{ font-size: 140%;
  background-color: #b9daff;
}

.cliopatria h2
{ font-size: 130%;
  background-color: #b9daff;
}

.cliopatria h3
{ font-size: 110%;
  background-color: #b9daff;
}

.cliopatria h4
{ font-size: 100%;
  background-color: #b9daff;
}

.cliopatria dl
{ margin-left: 5%;
}

.cliopatria dl dt
{ font-weight: bold;
}

.cliopatria input.gaction
{ width: 7em;
}


		 /*******************************
		 *	       TABLES		*
		 *******************************/

table.block
{ border-width: 0px;
  border-style: solid;
  border-collapse: collapse;
  margin-left: 1cm;
  margin-top: 1em;
}

table.block tr.even th
{ background-color: #e0e0e0;
}

table.block tr.skip th
{ color:white;
  background-color: blue;
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

table.block td, table.block th
{ border-width: 0 1px 0 1px;
  border-style: solid;
  padding: 0 2px;
}

table.block tr:last-child td,
table.block tr:last-child th
{ border-width: 0 1px 1px 1px;
}

table.block tr:first-child td,
table.block tr:first-child th
{ border-width: 1px 1px 0px 1px;
}

tr.even td
{ background-color: #e0e0e0;
}

td.int
{ text-align:right;
  padding-right:5px;
}

td.empty, td.int_c
{ text-align:center;
}

table.block td.no-border
{ border-width: 0;
  border-color: #fff;
  background-color: transparent;
}

tr.even td.buttons
{ background-color: #fff;
}

table.block td.total
{ border-width: 1px 0 0 0;
  font-weight: bold;
}

table.block th, tr.header th
{ background:  url("../icons/th.png") left top;
  border: 1px solid #444;
}

table.block th.total
{ text-align: right;
  padding-right: 7px;
  border-width: 0 1px 0 1px;
  border-style: solid;
  color:black;
  background: transparent;
}

table.block a.resort
{ color: #000;
  text-decoration: none;
}

table.block a.resort:hover
{ color: #00f;
  text-decoration: underline;
}

table.block a.sorted
{ color: #000;
  text-decoration: underline;
}

table.block th.p_name
{ text-align: right;
  background: transparent;
  border-width: 0 1px 0 1px;
}

table.form
{ border-width: 0px;
  margin-left: 1cm;
}

table.form th.label
{ text-align: right;
  padding: 0 3px;
}


		 /*******************************
		 *	   AUTO-COMPLETE	*
		 *******************************/

span.acmatch
{ background-color: #bbf;
}

div.ac_input .yui-ac-content
{ max-height:30em;
  overflow:auto;
  overflow-x:hidden; /* set scrolling */
  _height:30em; /* ie6 */
}

span.ac-builtin
{ color: blue;
}

span.ac-module
{ color: #888;
}

span.ac-exported
{ color: dark-green;
}

span.ac-private
{ color: red;
}

#search_form
{ float: right;
}

		 /*******************************
		 *	       LOGIN		*
		 *******************************/

div.rdfql-login
{ margin-bottom: 2em;
}

div.local-login, div.openid-login
{ margin-top: 3em;
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
}

div.local-login form
{ margin-top: 1em;
  margin-left: 5%;
}


		 /*******************************
		 *	     QUERY FORM		*
		 *******************************/

form.query
{ margin-top: 4ex;
}

form.query h3
{ padding-left: 5%;
  background-color: #b9daff;
}

form.query td.qnostore
{ text-align: right;
  color: #aaa;
}

table.query
{ margin-top: 1ex;
  margin-left: 5%;
  width: 90%;
}

table.query textarea
{ width: 100%;
  height: 30ex;
}

table.query span.label
{ font-size: smaller;
}


		 /*******************************
		 *	       LINKS		*
		 *******************************/

a.img img
{ border-width: 0px;
}

img.in-text
{ height: 1em;
}
