/* General ClioPatria page layout
*/

address.cliopatria
{ margin-top: 1ex;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #A0A0A0;
  font-size: smaller;
  text-align: right;
}

div.messages
{ border-width: 1px;
  border-style: dotted;
  border-color: #A0A0A0;
  padding: 5px;
  margin-top: 2ex;
  margin-left: 5%;
  width: 90%;
}

div.informational
{ text-color: #007f00;
}

div.warning
{ text-color: #ca0000;
}

div.warning
{ background-color: #ca0000;
  text-color: blue;
}

