/* General ClioPatria page layout
*/

#content
{ margin-top: 10px;
}

address.cliopatria
{ margin-top: 1ex;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #A0A0A0;
  font-size: smaller;
  text-align: right;
}

address.cliopatria img
{ padding-left: 5px;
  border: 0;
  height: 1.2em;
  vertical-align: top;
}

div.messages, div.textbox
{ border-width: 1px;
  border-style: dotted;
  border-color: #A0A0A0;
  padding: 5px;
  margin-top: 2ex;
  margin-left: 5%;
  width: 90%;
}

div.informational
{ color: #007f00;
}

div.warning
{ color: #ca0000;
}

div.warning
{ background-color: #ca0000;
  color: blue;
}

		 /*******************************
		 *	       TABLES		*
		 *******************************/

table.cliopatria
{ border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  margin-left: 1cm;
}

table.cliopatria td
{ border-width: 0 1px 0 1px;
  border-style: solid;
}

tr.even td
{ background-color: #e0e0e0;
}

table.cliopatria tr.even th
{ background-color: #e0e0e0;
}

td.int
{ text-align:right;
  padding-right:5px;
}

td.empty, td.cint
{ text-align:center;
}

table.cliopatria th
{ background:  url("../icons/th.png") left top;
  border: 1px solid #444;
}

		 /*******************************
		 *	   AUTO-COMPLETE	*
		 *******************************/

span.acmatch
{ background-color: #bbf;
}

#ac_predicate_complete .yui-ac-content
{ max-height:30em;
  overflow:auto;
  overflow-x:hidden; /* set scrolling */
  _height:30em; /* ie6 */
}

span.ac-builtin
{ color: blue;
}

span.ac-module
{ color: #888;
}

span.ac-exported
{ color: dark-green;
}

span.ac-private
{ color: red;
}

		 /*******************************
		 *	       LINKS		*
		 *******************************/

a.img img
{ border-width: 0px;
}
