#sidebar
{ float: left;
  width: 200px;
}

#content
{ margin-left: 200px;
  padding-top: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #a0a0a0;
}

.title
{ text-align: center;
  color: #fff;
  background-color: #1d64c7;
}

table.http_parameters th
{ color: #fff;
  border-color: #000;
  background-color: #1d64c7;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

table.http_parameters tr.group th
{ color: #fff;
  border-color: #000;
  background-color: #38f;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

table.http_parameters td.name
{ font-weight: bold;
}

table.http_parameters tr.odd
{ background-color: #ccc;
}

table.http_parameters td
{ border-style: solid;
  border-width: 1px;
  padding: 5px;
}

table.http_parameters
{ border-width: 1px 1px 1px 1px;
  border-spacing: 0px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray;
  border-collapse: collapse;
  background-color: white;
}

table.file_handler
{ margin-left: 100px;
}

table.file_handler th
{ text-align: right;
}

		 /*******************************
		 *	    QUICK FIND		*
		 *******************************/

#find
{ margin-left: 200px;
  padding-left: 5px;
  padding-bottom: 1ex;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-color: #a0a0a0;
}

#qf_label
{ display: inline-block;
  vertical-align:top;
  padding-top: 3px;
  padding-right: 0.5ex;
}

span.acmatch
{ background-color: #bbf;
}

#ac_location_complete .yui-ac-content
{ max-height:30em;
  overflow:auto;
  overflow-x:hidden; /* set scrolling */
  _height:30em; /* ie6 */
}


/***************************************************
* api tester
***************************************************/

.api_test {
}

.api_test table td {
    padding: 0 0.2em;
}

.api_test table td.input {
    width: 80%;
}

.api_test table td.input input {
    width: 100%;
}

.api_test .path {
    color: #1D64C7;
    font-style: italic;
    padding-right: 0.2em;
    white-space:nowrap;
}

.yui-panel .bd {
    text-align: left;
}

.yui-panel .bd div.url,
.yui-panel .bd div.result {
    background-color: #FFF;
    border: 1px solid #AAA;
    padding: 0.5em;
    margin: 0.5em;
}
