/* CSS file for RDF browser
*/

#header
{ padding-bottom: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 0 0 1px 0; /*top right bottom left*/
}

#search_form
{ float: right;
}

#places
{ float: left;
}

#places_label
{ color: #b0b0b0;
  font-weight: bold;
  padding-right: 5px;
}

table.rdf_browse, table.properties
{ border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  margin-left: 1cm;
}

table.rdf_browse td
{ border-width: 0 1px 0 1px;
  border-style: solid;
}

tr.even td
{ background-color: #e0e0e0;
}

table.properties tr.even th
{ background-color: #e0e0e0;
}

td.int
{ text-align:right;
  padding-right:5px;
}

td.empty, td.cint
{ text-align:center;
}

td.object
{ padding-left: 1em;
}

table.rdf_browse th
{ background:  url("../icons/th.png") left top;
  border: 1px solid #444;
}

table.rdf_browse th.sorted
{ color: yellow;
  background-color: blue;
}

table.rdf_browse th a
{ color: white;
}

table.rdf_browse tr.skip th
{ color:white;
  background-color: blue;
  text-align: center;
  padding-top: 1cm;
  padding-bottom: 1cm;
}

table.rdf_browse th.total
{ text-align: right;
  padding-right: 7px;
  color:black;
  background-color: transparent;
}

table.properties th
{ text-align: right;
  padding-right: 7px;
  color:black;
}

a.undef
{ color: red;
}

div.triple, div.graph-fn
{ margin-left: 1cm;
}

div.bnode_attr
{ display:inline-block;
  text-align: center;
  position: relative;
  top: 0.5em;
  border: 1px;
  border-style: dotted;
}

input.gaction
{ width: 2cm;
}

a.llobject				/* linked literal */
{ color: black;
}

span.rdf-list				/* (values...) */
{ border: 1px;
  border-style: outset;
  padding: 1px;
  background-color: #c0c0c0;
}

span.rdf-bnode				/* [rdf:value...] */
{ border: 1px;
  border-style: outset;
  padding: 1px;
  background-color: #c0c0c0;
}

/*****************************************************************/

span.account
{ color: blue;
}

span.acmatch
{ background-color: #bbbbff;
}

span.tqual, span.lqual
{ font-weight: bold;
}


/*****************************************************************/

#rdf_upload table
{ margin-left: 1cm;
  border-style: inset;
  border-width: 2px;
  padding: 10px;
}

#rdf_upload table td
{
}

td.submit
{ text-align: right;
  padding-top: 10px;
}

td.label
{ font-weight: bold;
  text-align: right;
  padding-right: 5px;
  border-width: 0 0 0 0;
}

#rdf_upload input
{ width: 100%;
}
