/* $Id$

   CSS for SWI-Prolog semantic web query,
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

div.rdfql-login
{ margin-bottom: 2em;
}

div.local-login, div.openid-login
{ margin-top: 3em;
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
}

div.local-login form
{ margin-top: 1em;
  margin-left: 5%;
}

div.query_stats
{ margin-top: 1em;
  margin-bottom: 0.5em;
  font-style: italic;
}

table.rdfql
{ margin-top: 1ex;
  margin-left: 50px;
  border-collapse: collapse;
}

table.rdfql th
{ background:  url("../icons/th.png") left top;
  font-size: 90%;
}

table.rdfql td,th
{ border: 1px solid #A0A0A0;
  padding: 0 2px 0 2px;
}

table.rdfql th.port,td.port
{ background:  url("../icons/th.png") left top;
}

table.rdfql tr.odd
{ background-color: #f0f0f0;
}

tr.buttons td
{ border-width: 0px;
}

#triples-by-graph td.total
{ font-weight: bold;
}

#triples-by-graph th.empty
{ border-style: none;
  border-width: 0px;
  background-color: white;
}

#rdf-statistics h1
{ text-align: center;
}

#rdf-statistics h4
{ background-color: #b9daff;
}

a.new-query
{ margin-top: 4ex;
}

p.warn-interactive
{ font-size: smaller;
}

td.instantiated
{ text-align: center;
}

		 /*******************************
		 *	     QUERY FORM		*
		 *******************************/

form.query
{ margin-top: 4ex;
}

form.query h3
{ padding-left: 5%;
  background-color: #b9daff;
}

table.query
{ margin-top: 1ex;
  margin-left: 5%;
  width: 90%;
}

table.query textarea
{ width: 100%;
  height: 30ex;
}

table.query span.label
{ font-size: smaller;
}
