/* CSS for SWI-Prolog Semantic Web Engine
*/

#sidebar
{ float: left;
  width: 180px;
}

#content
{ margin-left: 180px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px;
  border-left-width: 1px;
  border-color: #a0a0a0;
}
