/* $Id$

   CSS for Settings module,
   Author: Jan Wielemaker
   Copying: Public domain

   For a tutorial on CSS, see
   <http://www.htmldog.com/guides/cssbeginner/selectors/>
*/

th.settings-module
{ color: white;
  background-color: navy
}

table.settings
{ margin-top: 5mm;
  margin-left: 10%;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

table.settings td
{ vertical-align: top;
}

table.settings tr.settings-entry-odd
{ background-color: #f0f0f0;
}

table.settings tr.buttons
{ background-color: navy;
}

table.settings div.list
{ border-width: 1;
}
