/* Turn a nested UL-list into a tree.
   See http://odyniec.net/articles/turning-lists-into-trees/
*/

ul.tree, ul.tree ul
{ list-style-type: none;
  background: url('../icons/ul-vline.png') repeat-y;
  margin: 0; padding: 0;
}

ul.tree ul
{ margin-left: 10px;
}

ul.tree li
{ margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url('../icons/ul-node.png') no-repeat;
} ul.tree

li.last
{ background: #fff url('../icons/ul-lastnode.png') no-repeat;
}

ul.tree li:last-child
{ background: #fff url('../icons/ul-lastnode.png') no-repeat;
}
